@use "sass:color";
@use "variables";

.errorlist {
  display: flex;
  margin: 0;

  & li {
    list-style: none;
    color: var(--error);
    font-size: 0.75rem;
  }
}

.messagelist {
  padding: 0;
  list-style: none;
  text-align: center;
  background-color: adjust-color(variables.$background, $alpha: -0.3);
  backdrop-filter: blur(2px);

  & li {
    padding: 2rem;
    width: 100%;
  }

  & .success {
    background-color: adjust-color(variables.$success, $alpha: -0.3);
  }

  & .error {
    background-color: adjust-color(
      variables.$error,
      $lightness: 30%,
      $alpha: -0.3
    );
  }
}

input[aria-invalid="true"] {
  border-color: var(--error);
}

.htmx-indicator {
  display: none;
}

.htmx-request .htmx-indicator {
  display: block;
}

.feature-list {
  padding: 0;

  & li {
    list-style: none;
    text-align: center;
    margin: 2rem 0 7rem 0;

    & hgroup {
      display: flex;
      font-weight: bold;
      justify-content: center;
      align-items: center;

      img {
        max-height: 6rem;
        margin: 1rem;
      }
    }
  }
}
