// colors
$primary: #1d4289;
$background: #ffffff;
$foreground: #282828;
$error: crimson;
$success: #d4fbc9;
$muted: #6c757d;

[data-theme="light"],
:root:not([data-theme="dark"]) {
  // use sass variables to set css variables
  --primary: #{$primary};
  --background: #{$background};
  --foreground: #{$foreground};
  --error: #{$error};
  --success: #{$success};
  --muted: #{$muted};
}

[data-theme="dark"] {
}
