{% extends "base_page.html" %}

{% load static %}

{% block header %}
{% endblock header %}

{% block content %}
    <h2>
        {% trans "Why choose Positron for your next project?" %}
    </h2>
    <ul>
        <li>
            {% trans "<b>Accessibility:</b> clear, simple and functional designs that are a pleasure to use" %}
        </li>
        <li>
            {% trans "<b>Stability:</b> we use battle-tested technologies to provide reliable and safe user experiences" %} <a href="{% url 'tech' %}">{% trans "Learn more" %}</a>
        </li>
        <li>
            {% trans "<b>Speed:</b> we create software that is snappy and responsive" %}
        </li>
    </ul>
    <p>
        <a role="button" class="anchor-btn" href="{% url 'contact' %}">
            {% trans "Schedule a free consultation" %}
        </a>
    </p>
    <h2>
        {% trans "Who we are" %}
    </h2>
    <p>
        {% trans "We are a small team of experienced developers. We are passionate about what we do and strive to offer only the best solutions to our clients." %}
    </p>
{% endblock content %}
