{% extends "base_page.html" %}

{% load static %}

{% block header %}
{% endblock header %}

{% block content %}
    <p align="center">
        <a role="button" class="anchor-btn" href="{% url 'contact' %}">
            {% trans "Schedule a free consultation" %}
        </a>
    </p>
    <ul class="feature-list">
        <li>
            <hgroup>
                <h3>
                    {% trans "Speed" %}
                </h3>
                <img src="{% static 'images/index/rocket.svg' %}" alt="">
            </hgroup>
            <p>
                {% trans "Modern websites that are snappy and responsive." %}
            </p>
        </li>
        <li>
            <hgroup>
                <img src="{% static 'images/index/bicep.svg' %}" alt="">
                <h3>
                    {% trans "Stability" %}
                </h3>
            </hgroup>
            <p>
                {% trans "Built with battle-tested technologies to provide reliable and safe user experiences." %}
            </p>
        </li>
        <li>
            <hgroup>
                <h3>
                    {% trans "Security" %}
                </h3>
                <img src="{% static 'images/index/tower.svg' %}" alt="">
            </hgroup>
            <p>
                {% trans "Secure by default to keep you and your client's data safe." %}
            </p>
        </li>
        <li>
            <hgroup>
                <img src="{% static 'images/index/a11y.svg' %}" alt="">
                <h3>
                    {% trans "Accessibility" %}
                </h3>
            </hgroup>
            <p>
                {% trans "Clear, simple and functional designs that are easy to use." %}
            </p>
        </li>
        <li>
            <hgroup>
                <h3>
                    {% trans "Open Source Tech" %}
                </h3>
                <img src="{% static 'images/index/trusted.svg' %}" alt="">
            </hgroup>
            <p>
                {% trans "Take advantage of trusted, community-driven software:" %}
            </p>
            <p>
                <style>
                    me {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: center;
                        column-gap: 4%;
                        row-gap: 1rem;

                        & a {
                            flex-basis: 29%;
                        }

                        & img {
                            max-height: 4rem;
                        }
                    }

                    @media sm {
                        me {
                            max-width: 70%;
                            margin: 0 auto;
                        }
                    }
                </style>
                <a href="https://www.python.org/" target="_blank">
                    <img src="{% static 'images/logos/python.svg' %}"
                         alt="Python"
                         title="Python">
                </a>
                <a href="https://www.djangoproject.com/start/overview" target="_blank">
                    <img src="{% static 'images/logos/django.svg' %}"
                         alt="Django"
                         title="Django">
                </a>
                <a href="https://nodejs.org/en" target="_blank">
                    <img src="{% static 'images/logos/node.svg' %}"
                         alt="Node.js"
                         title="Node.js">
                </a>
                <a href="https://www.typescriptlang.org/" target="_blank">
                    <img src="{% static 'images/logos/ts.svg' %}"
                         alt="Typescript"
                         title="Typescript">
                </a>
                <a href="https://htmx.org/" target="_blank">
                    <img src="{% static 'images/logos/htmx.svg' %}" alt="htmx" title="htmx">
                </a>
                <a href="https://react.dev" target="_blank">
                    <img src="{% static 'images/logos/react.svg' %}"
                         alt="React.js"
                         title="React.js">
                </a>
                <a href="https://alpinejs.dev/" target="_blank">
                    <img src="{% static 'images/logos/alpinejs.svg' %}"
                         alt="Alpine.js"
                         title="Alpine.js">
                </a>
                <a href="https://tailwindcss.com/" target="_blank">
                    <img src="{% static 'images/logos/tailwindcss.svg' %}"
                         alt="Tailwindcss"
                         title="Tailwindcss">
                </a>
                <a href="https://sass-lang.com/" target="_blank">
                    <img src="{% static 'images/logos/sass.svg' %}" alt="Sass" title="Sass">
                </a>
                <a href="https://nginx.org/" target="_blank">
                    <img src="{% static 'images/logos/nginx.svg' %}" alt="NGINX" title="NGINX">
                </a>
                <a href="https://www.postgresql.org/" target="_blank">
                    <img src="{% static 'images/logos/postgresql.svg' %}"
                         alt="PostgreSQL"
                         title="PostgreSQL">
                </a>
                <a href="https://www.sqlite.org/index.html" target="_blank">
                    <img src="{% static 'images/logos/sqlite.svg' %}"
                         alt="SQLite"
                         title="SQLite">
                </a>
                <a href="https://redis.io/" target="_blank">
                    <img src="{% static 'images/logos/redis.svg' %}" alt="Redis" title="Redis">
                </a>
                <a href="https://www.docker.com/" target="_blank">
                    <img src="{% static 'images/logos/docker.svg' %}"
                         alt="Docker"
                         title="Docker">
                </a>
                <a href="https://www.terraform.io/" target="_blank">
                    <img src="{% static 'images/logos/terraform.svg' %}"
                         alt="Terraform"
                         title="Terraform">
                </a>
                <a href="https://kernel.org/" target="_blank">
                    <img src="{% static 'images/logos/linux.svg' %}" alt="Linux" title="Linux">
                </a>
            </p>
        </li>
    </ul>
{% endblock content %}
