{% extends "base_page.html" %}

{% block content %}
    <h2>
        {% trans "Your a business owner?" %}
    </h2>
    <p>
        {% blocktrans %}
          Wether you need a simple website to present your business or a more complex one with a custom design, we can help you.
        {% endblocktrans %}
    </p>
    <h2>
        {% trans "You have an artistic vision?" %}
    </h2>
    <p>
        {% blocktrans %}
        {% endblocktrans %}
    </p>
    <h2>
        {% trans "Something else?" %}
    </h2>
    <p>
    </p>
{% endblock content %}
