{% extends "base_page.html" %}

{% load static %}

{% block content %}
    <article>
        <header>
            <a href="https://www.djangoproject.com/start/overview" target="_blank">
                <img src="{% static 'images/logo-django.svg' %}" alt="django logo">
            </a>
            <p>
                {% blocktrans %}Positron web applications are made with <a href="https://www.djangoproject.com/start/overview/" target="_blank">Django</a>.
                It's a tool that helps us build secure and maintainable websites quickly and efficiently.<br>Here's why it's great for your project:{% endblocktrans %}
            </p>
        </header>
        <ul>
            <li>
                <strong>Security:</strong> Django benefits from decades of security research and development. It's one of the most secure web frameworks available.
            </li>
            <li>
                <strong>Scalability:</strong> It grows with your business. Whether you're starting small or expanding big,, from simple websites to complex web applications.
            </li>
            <li>
                <strong>Rapid Development:</strong> We can build features faster, which means your project is ready sooner.
            </li>
            <li>
                <strong>Proven and Trusted:</strong> Used by some of the biggest companies, it's a proven framework for success.
            </li>
        </ul>
    </article>
{% endblock content %}
