[Unit]
Description=Positron gunicorn server
After=network.target

[Service]
User=sqwxl
Group=nginx
WorkingDirectory=/home/sqwxl/positronweb.ca
Environment="PATH=/home/sqwxl/positronweb.ca/.venv/bin"
ExecStart=/home/sqwxl/positronweb.ca/.venv/bin/gunicorn --workers 1 --bind unix:positron.sock positron.wsgi

[Install]
WantedBy=multi-user.target

