<hgroup>
    <style>
        me {
            img {
                max-height: 4rem;
            }
        }
    </style>
    <h1>
        <img src="{{ main_siteurl }}/images/contact/plane.svg">
        {% trans %}Contact Us{% endtrans %}
    </h1>
</hgroup>
<p>
    <form method="post" action="PLACEHOLDER_CONTACT_URL">
        <div>
            <label for="id_name">{% trans %}Name{% endtrans %}</label>
            <input type="text" name="name" maxlength="100" required id="id_name">
        </div>
        <div>
            <label for="id_email">{% trans %}Email{% endtrans %}</label>
            <input type="email" name="email" maxlength="320" required id="id_email">
        </div>
        <div>
            <label for="id_number">{% trans %}Phone number (optional){% endtrans %}</label>
            <input type="tel" name="number" id="id_number">
        </div>
        <div>
            <label for="id_message">Message</label>
            <textarea name="message"
                      cols="30"
                      rows="5"
                      placeholder="{% trans %}Tell us about your project, your budget and your target launch date. We'll get back to you ASAP.{% endtrans %}"
                      required
                      id="id_message"></textarea>
        </div>
        <button>{% trans %}Send{% endtrans %}</button>
    </form>
</p>
<script>
    document.querySelector("form").addEventListener("submit", async (event) => {
        event.preventDefault();

        const form = event.currentTarget;
        const formData = new FormData(form);

        const response = await fetch(form.action, {
            method: form.method,
            body: formData,
        });

        if (response.ok) {
            form.outerHTML = `<h3>{% trans %}Thank you for your message!{% endtrans %}<br>{% trans %}We'll be in touch with you shortly.{% endtrans %}</h3>`;
        } else {
            alert("{% trans %}Something went wrong. Please try again.{% endtrans %}");
        }
    });
</script>
