{% load static %}

{% if messages %}
    <ul class="messagelist"
        x-data="{open: true}"
        x-show="open"
        @click.outside="open = false"
        x-transition.duration.500ms>
        <style>
            me {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                margin: 0;

                & li {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0;

                    & img {
                        max-height: 3em;
                        margin: 0 1em 0 0;
                    }

                    @media sm {
                        & img {
                            max-height: 4em;
                        }
                    }
                }
            }
        </style>
        {% for message in messages %}
            <li class="{{ message.level_tag }}">
                {% if message.level_tag == "error" %}
                    <img src="{% static 'images/flash/finger_up.svg' %}">
                {% elif message.level_tag == "success" %}
                    <img src="{% static 'images/flash/success.svg' %}">
                {% endif %}
                <span>{{ message }}</span>
            </li>
        {% endfor %}
    </ul>
{% endif %}
