{% if messages %}
    <ul class="messagelist"
        x-data="{open: true}"
        x-show="open"
        @click.outside="open = false"
        x-transition.duration.500ms>
        <style>
            me {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                margin: 0;
            }
        </style>
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
            </li>
        {% endfor %}
    </ul>
{% endif %}
