{% extends "base.html" %}

{% block body %}
    <main>
        <style>
            me {
                grid-column: 2;
            }
        </style>
        <article>
            <hgroup>

                {% block header %}
                    <h1>
                        {{ page_title }}
                    </h1>
                {% endblock header %}

            </hgroup>
            <div id="main-content">

                {% block content %}
                {% endblock content %}

            </div>
        </article>
    </main>
    {% include "partials/footer.html" %}
{% endblock body %}
